.box
  .avatar
    = image_tag "horse_face.png"
  .content
    .name_date_box
      .name= @user_name
      .date 7 days
    .comment_box
      %p
        as much as I want to be, I'm not
        %span.mentioned @#{@user_name}